/*<---Normalize(START)--->*/
:focus,
:active {
  outline: none;
}

input,
button,
textarea {
  background: none;
  border: none;
}

.btn:focus {
  box-shadow: none;
}

a {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*<---Normalize(END--->*/

:root {
  --dark-green: #417a82;
  --dark-green-hover: #54878f;
  --dark-blue: #052e4c;
  --dark-blue-hover: #052e4c;
  --fuchsia: #b84c74;
  --fuchsia-hover: #bf5e82;
}

body {
  font-family: "PT Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 400;
}

.first-wrapper,
.popular-wrapper,
.catalog-wrapper {
  margin-left: 72px;
}

@media screen and (max-width: 700px) {
  .first-wrapper,
  .popular-wrapper,
  .catalog-wrapper {
    margin-left: 0;
  }
}

.container {
  max-width: 1120px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}

.bg-text {
  font-family: "Cormorant", serif;
  font-size: 300px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  color: var(--bs-white);
  letter-spacing: -10px;
  opacity: 0.05;
  line-height: 56px;
  z-index: 0;
}

h2 {
  font-size: 20px;
  color: var(--dark-blue);
  text-transform: uppercase;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 13px;
  padding: 11px 24px;
}

.lock {
  overflow: hidden;
}

.lock:before {
  position: fixed;
  content: "";
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.4;
  z-index: 1000;
}

/*<---Nav(START)--->*/

.navigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 30px 20px;
  background: #f2f6f7;
  width: 72px;
  min-height: 100vh;
  font-size: 13px;
  transition: all 200ms ease-in-out;
  z-index: 1000;
}

.logo {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-mini {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.navigation-info {
  margin: 14px 0 24px 0;
}

.navigation-info,
.navigation-link {
  color: var(--dark-green);
  white-space: nowrap;
}

.navigation-info-city {
  font-size: 10px;
}

.navigation-info-phone {
  font-size: 13px;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.logo,
.navigation-info,
.navigation-about {
  display: none;
}

.navigation-open {
  cursor: pointer;
  margin: 30px 0;
}

.search-icon {
  margin: auto 0 0 0;
}

.navigation-search {
  width: 100%;
  border: 1px solid var(--dark-green);
  border-radius: 20px;
  display: none;
  padding: 5px 10px;
  white-space: nowrap;
  margin-top: 50px;
  margin-bottom: 10px;
}

.navigation-search input::placeholder {
  color: var(--dark-green);
  opacity: 0.5;
}

.navigation.open {
  width: 224px;
  align-items: flex-start;
  background-color: var(--bs-white);
}

.navigation.open .navigation-link span {
  display: inline-block;
}

.navigation.open .logo {
  display: flex;
}

.navigation.open .navigation-info,
.navigation.open .navigation-about,
.navigation.open .navigation-search {
  display: block;
}

.navigation.open .navigation-list {
  align-items: start;
  align-self: start;
}

.navigation.open .navigation-open,
.navigation.open .logo-mini {
  display: none;
}

.navigation-link span {
  margin-left: 15px;
  display: none;
}

.navigation-link:hover span {
  color: var(--dark-green-hover);
}

.navigation-link svg {
  width: 25px;
}

.logo-mini {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

#calc {
  color: #b84c74;
}

@media screen and (max-width: 700px) {
  .navigation {
    height: 92px;
    min-height: inherit;
    padding: 20px;
    width: 100%;
    background: var(--bs-white);
    flex-direction: row;
    justify-content: center;
  }

  .navigation.open {
    min-height: 100vh;
    flex-direction: column;
    justify-content: inherit;
  }

  .navigation-open {
    position: absolute;
    top: 10px;
    left: 20px;
  }

  .navigation.open .navigation-list {
    display: flex;
  }

  .logo {
    display: flex;
  }

  .navigation-list,
  .logo-mini,
  .search-icon {
    display: none;
  }
}

/*<---Nav(END)--->*/
/*<---FirstScreen(START)--->*/

.first-wrapper {
  min-height: 100vh;
  background: url("../img/bg/1.png") no-repeat;
  background-size: cover;
  color: var(--dark-blue);
}

.first {
  margin-right: 72px;
  position: relative;
}

.first .row {
  margin-right: 0;
}

.first-header {
  margin-bottom: 72px;
}

.first .container {
  padding-top: 56px;
}

.first-title {
  font-family: "Cormorant Infant", serif;
  font-size: 78px;
  line-height: 78px;
  font-weight: 300;
  text-transform: uppercase;
}

.first-title b {
  font-weight: 600;
  font-style: italic;
}

.first-desc {
  font-size: 16px;
  margin: 24px 0 48px 0;
}

.btn-order {
  background-color: var(--fuchsia);
  color: var(--bs-white);
}

.btn-order:hover {
  color: var(--bs-white);
  background-color: var(--fuchsia-hover);
}

.btn-calc {
  color: var(--dark-blue);
  background-color: var(--bs-white);
  margin-bottom: 25px;
}

.btn-calc:hover {
  color: var(--dark-blue-hover);
}

.btn-cart {
  height: 40px;
  width: 40px;
  background-color: var(--bs-white);
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 58px;
  right: -56px;
  z-index: 1001;
}

.btn-cart:hover {
  color: inherit;
}

.lock .btn-cart {
  filter: brightness(60%);
}

@media screen and (max-width: 700px) {
  .first {
    margin-right: 0;
  }

  .first-title {
    font-size: 42px;
    line-height: 42px;
    margin-top: 20px;
  }

  .btn-order {
    display: none;
  }

  .btn-cart {
    top: 25px;
    right: 15px;
  }

  .btn-cart svg {
    width: 30px;
    height: 30px;
  }

  .lock .btn-cart {
    display: none;
  }
}

/*<---FirstScreen(END)--->*/
/*<---Popular(Start)--->*/

.popular-wrapper {
  background-color: var(--dark-blue);
  position: relative;
}

.popular {
  background-color: var(--dark-green);
  height: 100%;
  margin-right: 160px;
  padding: 190px 0 0 88px;
}

.popular .bg-text {
  top: 110px;
  right: 55px;
}

.popular-gallery {
  display: grid;
  height: 480px;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  color: var(--dark-blue);
  font-family: "Cormorant Infant", serif;
  font-size: 25px;
  text-transform: uppercase;
}

.popular-gallery-1,
.popular-gallery-2,
.popular-gallery-3,
.popular-gallery-4 {
  cursor: pointer;
  padding: 40px 0 0 40px;
}

.popular-gallery-1:hover,
.popular-gallery-2:hover,
.popular-gallery-3:hover,
.popular-gallery-4:hover {
  height: calc(100% - 12px);
}

.popular-gallery-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background: url("../img/popular/1.png") 0 0 / cover no-repeat;
}

.popular-gallery-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  background: url("../img/popular/2.png") 0 0 / cover no-repeat;
}

.popular-gallery-3 {
  background: url("../img/popular/3.png") 0 0 / cover no-repeat;
}

.popular-gallery-4 {
  background: url("../img/popular/4.png") 0 0 / cover no-repeat;
  color: var(--bs-white);
}

@media screen and (max-width: 1340px) {
  .popular .bg-text {
    font-size: 200px;
    top: 120px;
    right: 100px;
  }
}

@media screen and (max-width: 960px) {
  .popular .bg-text {
    top: 130px;
    font-size: 150px;
  }
}

@media screen and (max-width: 700px) {
  .popular {
    padding: 100px 0 0 0;
    margin: 0;
  }

  .popular-wrapper {
    padding-bottom: 48px;
  }

  .popular .bg-text {
    top: 40px;
    font-size: 100px;
    right: calc(50% - 10rem);
  }

  .popular-gallery {
    height: inherit;
    grid-template: repeat(4, 150px) / repeat(1, 1fr);
  }

  .popular-gallery-1 {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .popular-gallery-2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .popular-gallery-3 {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .popular-gallery-4 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}

/*<---Popular(END)--->*/
/*<---Best(START)--->*/
.best {
  margin-top: 130px;
  color: var(--dark-blue);
  margin-bottom: 130px;
}

.best-card {
  padding: 16px;
  height: 530px;
  width: 256px;
  cursor: pointer;
  margin: 0 auto;
}

.best-card:hover {
  background-color: rgba(227, 246, 245, 0.3);
}

.best-card-photo {
  border: 1px solid #000000;
  margin-bottom: 24px;
}

.best-card-title {
  min-height: 5rem;
  font-size: 16px;
  line-height: 21px;
  padding-right: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.best-card-price {
  margin-top: 16px;
  font-family: "Cormorant Infant", serif;
  font-size: 20px;
  font-style: italic;
}

.best-card-price-value,
.best-card-price-value-old {
  font-family: "Cormorant", serif;
  font-size: 32px;
  font-style: normal;
}

.best-card-price-value {
  font-weight: 700;
  margin: 0 16px 0 12px;
}

.best-card-price-value-old {
  opacity: 0.2;
}

.best-card-price-old {
  position: relative;
}

.best-card-price-old:before {
  border-bottom: 1px solid var(--fuchsia);
  position: absolute;
  content: "";
  width: 60px;
  height: 50%;
  transform: rotate(-30deg);
  right: calc(50% - 30px);
  top: 0;
}

.best-card-buttons {
  display: flex;
  margin-top: 16px;
  gap: 16px;
  align-items: center;
}

.best-card-btn {
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

.swiper-pagination-fraction,
.swiper-pagination-horizontal {
  all: unset;
}

.best-slider-control {
  position: absolute;
  top: 0;
  right: 20px;
}

.best-slider-pagination,
.services-slider-pagination {
  font-size: 13px;
  color: var(--dark-blue);
}

/*<---Best(END)--->*/
/*<---Interview(START)--->*/
.interview .container {
  background-color: #e3f6f5;
  padding: 56px;
  color: var(--dark-blue);
}

.interview fieldset {
  border: 1px solid var(--dark-green);
  padding: 56px 100px;
}

.interview legend {
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 30px;
  color: var(--dark-green);
}

.interview-title {
  font-size: 32px;
}

.interview-title,
.interview-progress-item {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.interview-progress-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interview-progress {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  position: relative;
  margin: 15px 0 50px 0;
}

.interview-progress-item {
  font-size: 12px;
  color: var(--dark-green);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--dark-green);
  line-height: 14px;
}

.interview-progress-item.active {
  background-color: var(--dark-green);
  color: var(--bs-white);
}

.interview-progress-line {
  position: absolute;
}

.interview-progress-line:before,
.interview-progress-line:after {
  border-bottom: 1px solid var(--dark-green);
  position: absolute;
  content: "";
  width: 18px;
  height: 1px;
  top: 50%;
  right: 11px;
}

.interview-progress-line:after {
  left: 11px;
}

.interview-questions {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  font-size: 16px;
  line-height: 21px;
  display: none;
}

.interview-questions li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.interview-questions.active {
  display: block;
}

.interview-questions input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}

.interview-questions label {
  margin-left: 15px;
}

.interview-questions input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 1px solid var(--dark-green);
  background-color: var(--bs-white);
}

.interview-questions input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid var(--dark-green);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.interview-btn {
  text-align: center;
  margin-top: 40px;
}

.interview-btn button {
  background-color: var(--bs-white);
  color: var(--dark-blue);
}

.interview-btn-done {
  display: none;
}

@media screen and (max-width: 700px) {
  .interview .container {
    padding: 48px 20px;
  }

  .interview fieldset {
    border: 1px solid var(--dark-green);
    padding: 40px 24px;
  }

  .interview-title {
    display: none;
  }

  .interview-progress {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    position: relative;
    margin: 0 0 30px 0;
  }

  .interview-questions {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    font-size: 16px;
    line-height: 21px;
    display: none;
  }
}

/*<---Interview(END)--->*/
/*<---Catalog(START)--->*/
.catalog-wrapper {
  margin-top: 240px;
  position: relative;
}

.catalog-wrapper .bg-text {
  color: #608199;
  opacity: 0.1;
  top: -30px;
  left: 107px;
}

.catalog {
  max-width: 1208px;
  padding: 136px 0 0 88px;
  background-color: var(--dark-blue);
}

.catalog h2 {
  color: var(--bs-white);
}

.catalog-photos {
  display: flex;
  margin-top: 32px;
}

.catalog-photos-item {
  width: 33.33%;
  height: 492px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  color: var(--bs-white);
  padding: 0 40px 32px 40px;
}

.catalog-photos-item-title {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
}

.catalog-photos-item-desc {
  font-size: 13px;
  line-height: 17px;
  color: var(--bs-white);
  min-height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.catalog-photos-item.item-1 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.51%, #000000 100%),
  url("../img/catalog/photos/1.png") 0 0 / cover no-repeat;
}

.catalog-photos-item.item-2 {
  background: linear-gradient(180deg, rgba(113, 69, 63, 0) 47.42%, #ad9c8f 100%),
  url("../img/catalog/photos/2.png") 0 0 / cover no-repeat;
}

.catalog-photos-item.item-3 {
  background: linear-gradient(180deg, rgba(161, 171, 173, 0) 50%, #696c6b 100%),
  url("../img/catalog/photos/3.png") 0 0 / cover no-repeat;
}

.catalog-info {
  display: flex;
}

.catalog-cards {
  display: flex;
  padding: 22px 25px;
  background-color: var(--bs-white);
  width: 66.66%;
  gap: 5px;
  overflow-y: hidden;
}

.catalog-card {
  max-width: 170px;
  padding: 15px 10px;
  cursor: pointer;
}

.catalog-card:hover {
  background-color: rgba(227, 246, 245, 0.3);
}

.catalog-card-photo {
  width: 150px;
  height: 100px;
  margin-bottom: 20px;
}

.catalog-card-title,
.catalog-card-price {
  font-size: 16px;
  color: var(--dark-blue);
}

.catalog-card-title {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.catalog-card-price {
  font-style: italic;
}

.catalog-info-calc {
  width: 33.33%;
  padding: 40px 40px 56px 40px;
  background-color: var(--dark-green);
  font-size: 16px;
  color: var(--bs-white);
}

.catalog-info-calc-title {
  font-weight: 700;
}

.catalog-info-calc-desc {
  line-height: 21px;
  margin-top: 8px;
}

.catalog-info-calc .btn {
  background-color: var(--bs-white);
  margin-top: 24px;
}

@media screen and (max-width: 1100px) {
  .catalog-wrapper .bg-text {
    font-size: 200px;
    top: -40px;
    left: 100px;
  }
}

@media screen and (max-width: 700px) {
  .catalog-wrapper {
    margin-top: 80px;
  }

  .catalog {
    padding: 50px 0 0 0;
  }

  .catalog h2 {
    padding: 0 20px;
  }

  .catalog .container {
    padding: 0;
  }

  .catalog-wrapper .bg-text {
    top: -30px;
    font-size: 100px;
    left: calc(50% - 10rem);
  }

  .catalog-photos {
    flex-direction: column;
  }

  .catalog-photos-item {
    width: 100%;
  }

  .catalog-photos-item-desc {
    display: none;
  }

  .catalog-info {
    flex-direction: column;
  }

  .catalog-cards {
    width: 100%;
  }

  .catalog-info-calc {
    width: 100%;
    text-align: center;
  }
}

/*<---Catalog(END)--->*/
